<h1>Add User</h1>
<%= form_with(model: @user, local: true, class: 'ui form') do |f| %>
    <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, required: true, autofocus: true, placeholder: "First Name" %>
    </div>
    <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, required: true, placeholder: 'Last Name' %>
    </div>
    <%= f.submit nil, class: "ui green button inverted" %>
<% end %>