<h1>Add Doctor</h1>
<%= form_with(model: @doctor, local: true, class: 'ui form') do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, required: true, placeholder: 'Doctor Name' %>
        <br />
        <%= f.label :profession %>
        <%= f.text_field :profession %>
    </div>
    <%= f.submit nil, class: "ui blue button inverted" %>
<% end %>