<h1>Schedule Appointment</h1>
<%= form_with(model: [@doctor, @appointment], local: true, class: 'ui form') do |f| %>
    <%= f.label :user %>
    <%= f.select :user_id, @users.collect { |u| [u.full_name, u.id] } %>
    <br />
    <%= f.label :date %>
    <%= f.select :date, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
    <br />
    <%= f.label :time %>
    <%= f.select :time, ['AM', 'PM'] %>
    <br />
    <%= f.submit nil, class: 'ui green button inverted' %>
<% end %>